<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://www.dropbox.com/scl/fi/e0ve6jd4x6lqag8ib943m/The-Battle-Cats_15.4.1_1784198414.ipa?rlkey=hcjk0atrmry81hxextunyz0i6&amp;st=basbou3z&amp;dl=1</string>
        </dict>
      </array>

      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>app.cauliflower3903.lemon2546</string>

        <key>bundle-version</key>
        <string>15.4.1</string>

        <key>kind</key>
        <string>software</string>

        <key>title</key>
        <string>The Battle Cats</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
