<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://www.dropbox.com/scl/fi/5ibcloccongu0icp48pp5/The-Battle-Cats_15.4.1_1784027282.ipa?rlkey=8a3qqe4c7xqg8kr71fuv4jtxu&amp;st=lyk1p9sw&amp;dl=1</string>
        </dict>
      </array>

      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>jp.co.ponos.battlecatsens</string>

        <key>bundle-version</key>
        <string>15.4.1</string>

        <key>kind</key>
        <string>software</string>

        <key>title</key>
        <string>The Battle Cats</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
